<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleName</key><string>R2 Desk Finder</string>
    <key>CFBundleDisplayName</key><string>R2 Desk</string>
    <key>CFBundleIdentifier</key><string>com.busha.r2desk.finder</string>
    <key>CFBundleExecutable</key><string>R2DeskFileProvider</string>
    <key>CFBundlePackageType</key><string>XPC!</string>
    <key>CFBundleShortVersionString</key><string>1.2.3</string>
    <key>CFBundleVersion</key><string>10</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSExtension</key><dict>
        <key>NSExtensionPointIdentifier</key><string>com.apple.fileprovider-nonui</string>
        <key>NSExtensionPrincipalClass</key><string>R2DeskFileProviderExtension</string>
        <key>NSExtensionFileProviderSupportsEnumeration</key><true/>
    </dict>
</dict></plist>
